*{
  margin: 0;
}

main{
  height: 100vh;
  width: 100%;
}

.photo{
  width: 100%;
  height: 100%;
}

.info{
  background-color: white;

  width: 100%;
  height: 100vh;

  font-family: 'Quicksand', sans-serif;

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
}

.info__h2{
  text-align: center;
  font-size: 70px;

  margin-top: 5%;
}

.info__text{
  text-align: center;
  font-size: 30px;

  margin: auto 20% auto 20%;
}
