*{
  margin: 0;
}

.body_hide {
	opacity: 0;
	transition: .9s opacity ease-in-out;
}

.body_visible {
	opacity: 1;
}

main{
  height: 100vh;
  width: 100%;

  background: black;
}

.photo{
  width: 100%;
  height: 100%;
  position: absolute;
}

.eye{
  width: 50px;
  height: 50px;

  position: absolute;
  right: 10px;

  z-index: 9999999;

  filter: invert(100%);

  cursor: pointer;
}

.info{
  position: absolute;

  z-index: 999;

  background: rgba(0,0,0, 0.7);

  width: 100%;
  height: 100vh;

  font-family: 'Quicksand', sans-serif;
  color: white;

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
}

.info__h2{
  text-align: center;
  font-size: 70px;

  margin-top: 5%;
}

.info__text{
  text-align: center;
  font-size: 30px;

  margin: auto 20% auto 20%;
}
